__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.venv/
venv/

mlruns/
models/best_model/

data/raw/*.xlsx
data/v1/*.csv
data/v2/*.csv
data/v3/*.csv

artifacts/*.csv
artifacts/*.json
artifacts/confusion_matrices/*.csv
artifacts/feature_importance/*.csv

*.log
*.rar
*.xlsx

data/v1/*.json
data/v2/*.json
data/v3/*.json

!data/**/.gitkeep
!models/.gitkeep
!artifacts/**/.gitkeep
!notebooks/.gitkeep
!mlruns/.gitkeep
